.gradle/
build/
gradle/
out/artifacts/FalcoBot_it_main_jar/FalcoBot.it.main.jar
out/production/resources/falcobot.png
DataBase - Copia.dat
.idea/
src/main/resources/token.txt
src/main/java/FalcoBot/SetBot.java
